<!-- Шаблон для добавления и отображения списка авторов -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Регистрация</h2>
    <form action="/authors" method="post">
        {{ form.hidden_tag() }}

        <div>
            <li>{{ form.username.label(class='form_input_label') }}</li>
            <li> {{ form.username(class='form_input') }}</li>
            <li>{{ form.password.label(class='form_input_label') }}</li>
            <li>{{ form.password(class='form_input') }}</li>
        </div>
        <p>{{ form.submit(value='Добавить') }}</p>
        <p>Создайте учетную запись "admin" чтобы получить права администратора</p>
    </form>

<!--    <ul>-->
<!--    {% for author in authors %}-->
<!--        <li>-->
<!--            <a href="{{ url_for('get_authors_id', authors_id=author.id) }}">{{ author.username }}</a></li>-->
<!--        </li>-->
<!--    {% endfor %}-->
<!--    </ul>-->
</body>
</html>
