<!-- Главная страница -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Главная страница</h1>
    <p>
    <a href="{{ url_for('get_authors') }}">Регистрация</a>
    <a href="{{ url_for('get_list') }}">Все посты</a>
     </p>
 <p>
    <h3>Авторизация</h3>
   <form action="/" method="post">
        <div>{{ form.hidden_tag() }}</div>
        {% for field in form if field.name != 'csrf_token' %}
        <div>
           <p>{{ field() }}</p>
        </div>
        {% endfor %}
    </form>
 </p>
    {% if current_user.is_authenticated %}
        <a href="/logout">Выйти {{ current_user.username }}</a>
    {% endif %}
</body>
</html>